main {
  width: 100%;
  margin-top: 70px;
  padding: 0;
  display: flex;
  justify-content: center;
}

main .main-container {
  width: 1270px;
  overflow: hidden;
  padding: 30px 60px;
}

main .main-container .content {
  /* background-color: violet; */
  width: 100%;
  display: flex;
}

main .desc-container {
  flex: 2;
  /* background-color: yellow; */
  padding: 10px;
}

main .desc-text {
  width: 60%;
}

main .form-container {
  flex: 2;
  /* background-color: teal; */
  padding: 10px;
  font-weight: bold;
}

main .myForm {
  margin-bottom: 15px;
}

main .myForm input {
  /* background-color: red; */
  width: 250px;
  padding: 0px;
}

.message {
  height: 80px;
  width: 250px;
}

.btn {
  border-radius: 0;
  width: 130px;
  background-color: #b22424;
  font-family: "Gotham";
  font-weight: bold;
  color: white;
  font-size: 0.7rem;
  padding: 5px;
}

.btn:hover {
  background-color: #b60707;
  color: white;
}

.myP {
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  main {
    margin-top: 80px;
  }
  .content {
    flex-direction: column;
  }
}
